#clock {
    margin: 0 auto;
}

#face {
    position: absolute;
    z-index: 1;

}

#hour {
    position: absolute;
    z-index: 2;
}

#minute {
    position: absolute;
    z-index: 3;
}

#second {
    position: absolute;
    z-index: 4;
    transform: rotate(45deg);

}
